/* Estilo de las fotos   */
.container-presentacion{
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
}

.container-presentacion div{
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: all 0.3s ease;
}

.card1{
    background-image: url('../img/leon.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card2{
    background-image: url('../img/aguila.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card3{
    background-image: url('../img/hipopotamo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card4{
    background-image: url('../img/bandicoot.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card5{
    background-image: url('../img/jirafa.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-presentacion div:hover{
    flex: 2;
    background-color: rgb(207, 207, 207);
}
